img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

@media screen and (max-width: 768px) {
    img {
        max-width: 80%; 
    }
}

@media screen and (max-width: 480px) {
    img {
        max-width: 60%;
    }
}

li {
    margin-bottom: 1.5rem; /* Equivalent to mb-6 in Tailwind (6 * 0.25rem) */
}