@media (max-width: 770px) {
    #sidenav {
        height: 100vh;
        width: 250px;
        position: fixed;
        z-index: 50;
        top: 0;
        left: 0;
        background-color: #ffffff;
        overflow-x: hidden;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    #sidenav.is-open {
        transform: translateX(0);
    }
}

#menu-icon:hover {
    color: #aaa; 
    transform: scale(1.2);
    transition: 0.3s ease
}

#wrapper {
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
  }
  
  @media (min-width: 770px) {
    #wrapper {
      margin-left: 220px; /* Only apply margin when sidebar is present */
      width: calc(100% - 250px);
      overflow-y: hidden;
    }
    
    /* When sidebar is closed on desktop */
    #wrapper:not(.ml-[250px]) {
      margin-left: 0;
      width: 100%;
    }
  }

